/*
!.gitignore
!addons
!cfg
addons/workshop
cfg/360controller.cfg
cfg/addonconfig.cfg
cfg/autoexec.360.cfg
cfg/config.360.cfg
cfg/config.global.360.cfg
cfg/config_default.cfg
cfg/cpu_level_0_pc.ekv
cfg/cpu_level_0_pc_ss.ekv
cfg/cpu_level_1_pc.ekv
cfg/cpu_level_1_pc_ss.ekv
cfg/cpu_level_2_pc.ekv
cfg/cpu_level_2_pc_ss.ekv
cfg/cpu_level_360.ekv
cfg/cpu_level_360_ss.ekv
cfg/gpu_level_0_pc.ekv
cfg/gpu_level_1_pc.ekv
cfg/gpu_level_2_pc.ekv
cfg/gpu_level_3_pc.ekv
cfg/gpu_level_360.ekv
cfg/gpu_mem_level_0_pc.ekv
cfg/gpu_mem_level_1_pc.ekv
cfg/gpu_mem_level_2_pc.ekv
cfg/gpu_mem_level_360.ekv
cfg/joy_preset_1.cfg
cfg/joy_preset_2.cfg
cfg/joy_preset_3.cfg
cfg/joy_preset_4.cfg
cfg/listenserver360.cfg
cfg/lowend.cfg
cfg/mem_level_0_pc.ekv
cfg/mem_level_1_pc.ekv
cfg/mem_level_2_pc.ekv
cfg/mem_level_360.ekv
cfg/moddefaults.txt
cfg/moddefaults_mac.txt
cfg/modsettings.cfg
cfg/perf.cfg
cfg/playtest.360.cfg
cfg/screenshots.cfg
cfg/screenshots_undo.cfg
cfg/settings_default.scr
cfg/skill1.cfg
cfg/splitscreen_off.360.cfg
cfg/splitscreen_off.cfg
cfg/splitscreen_on.360.cfg
cfg/splitscreen_on.cfg
cfg/test_end.cfg
cfg/test_start.cfg
cfg/undo360controller.cfg
cfg/user_default.scr
cfg/valve.360.rc
cfg/valve.rc
cfg/video_bench_high.txt
cfg/video_bench_low.txt
cfg/video_bench_medium.txt
cfg/video_bench_very_high.txt
cfg/video_bench_very_high_4k.txt
cfg/config.cfg
cfg/video.txt
cfg/videodefaults.txt
addons/sourcemod/logs
addons/sourcemod/data/sqlite
addons/sourcemod/gamedata/left4dhooks.temp.txt
